

<footer class="container bg-black pt-4 pb-4">
    <div class="row">
        <div class="col-sm-12 col-xl-4">
            <button class="btn btn-primary w-100" type="button" data-bs-toggle="collapse"
                    data-bs-target="#multiCollapse1" aria-expanded="true" aria-controls="multiCollapse1">About
                us
            </button>
        </div>
        <div class="col-sm-12 col-xl-4">
            <button class="btn btn-primary w-100" type="button" data-bs-toggle="collapse"
                    data-bs-target="#multiCollapse2" aria-expanded="true" aria-controls="multiCollapse2">Join Us On Git
            </button>
        </div>
        <div class="col-sm-12 col-xl-4">
            <button class="btn btn-primary w-100" type="button" data-bs-toggle="collapse"
                    data-bs-target="#multiCollapse3" aria-expanded="true" aria-controls="multiCollapse3">Visit Us
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-xl-4 multi-collapse show" id="multiCollapse1">
            <div class="card card-body">
                <h3>Dental Delights</h3>
                <p>Dental Delights is a system that allows you to book a dentist appointment online.</p>
            </div>
        </div>
        <div class="col-sm-12 col-xl-4 multi-collapse show" id="multiCollapse2">
            <div class="card card-body">
                <h3>About project</h3>
                <p>Stay tuned in <a href="https://github.com/apekshakulkarni011/Dental_Clinic">Siddhivinayak Dental Clinic</a></p>
            </div>
        </div>
        <div class="col-sm-12 col-xl-4 multi-collapse show" id="multiCollapse3">
            <div class="card card-body">
                <h3>Designed by Apeksha</h3>
                <p>Visit Us
                     <a href="https://goo.gl/maps/fdVSZpMUeV8QkBRQ7">On Google Map Also</a></p>

                    </div>
                </div>
            </div>
        </div>
</footer>


<!--<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15829.226914344685!2d73.77669436217425!3d18.61155752150587!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2b9a5f0d73901%3A0x32bceaa9ce1d22b5!2sBest%20Dentist%20In%20PCMC%20%7C%20Best%20Dentist%20In%20Kalewadi%20%7C%20Siddhivinayak%20Dental%20Clinic!5e0!3m2!1sen!2sin!4v1689181589572!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen=""></iframe>-->





                <!--<p>Designed by <a href="https://www.linkedin.com/in/apeksha-kulkarni-7547a6256/">Visit Us</a></p>
            </div>
            <div class="google-maps mb-100">
        </div>
    </div>
</footer>-->